[bumpversion]
current_version = 2.7.6
tag = True
commit = True
allow_dirty = True

[bumpversion:file:setup.py]

[bumpversion:file:dabble]

[bumpversion:file:Dabble/__init__.py]

[bumpversion:file:Dabble/param/__init__.py]

[bumpversion:file:meta.yaml]

[bumpversion:file:docs/conf.py]

